.wrapper{
  &__block{
    display: flex;
    justify-content: space-evenly;
    
   
  }
  &__list{
    display: flex;
    justify-content: space-evenly;
  
  }

  &__lists{
    margin-left: 30px;
  }

  &__item1{
    margin-top: 20px;
    margin-left: 30px;
  }

  &__butn{
    display: flex;
    justify-content: space-evenly;
  }

  &__gr-btn{
    display: flex;
    justify-content: center;
  }

 


}

#wrapper-item1{
  width: 900px;
  height: 3000px;
  flex-wrap: wrap;
}